<div class="container sCart">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Page Under Construction</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img class="UC" src="../img/assets/underConst.jpg" alt="">
            </div>
        </div>

    </div>
    {{!-- <button id="testSS">to test session storage</button> --}}
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="myBtn" id="btnDesk">Add a Desk</button>
            <button class="myBtn" id="btnPillow">Add Two Pillows</button>
            <button class="myBtn" id="btnRack">Add a Coat Rack</button>
            <button class="myBtn" id="btnClock">Add a Wall Clock</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/cart"><button id="btnDesk">View Cart</button></a>

        </div>
    </div>

</div>

<script src="../js/altProd.js"></script>