{{!-- <script id="products-template" type="x-handlebars-template"> --}}
<div id="prod-block">
    <table id="products">
        <tbody class="product-list">
            {{#each products}}
            <tr>
                <td>
                    {{product_name}}
                </td>
                <td>
                    {{!-- <img src={{product_image}}> --}}
                </td>
                <td>
                    <a href="/products/{{id}}"><button>Detail Page</button></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- </script> --}}