<div class="container sCart">
    <div class="row">
        <div class="col-md-12">
            <h3 id="cartTitle" class="text-center">Shopping Cart</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Click the GhostPal button to complete your purchase</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="cartZone">
                <table id="myTable" class="table">


                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/products"> <button>Back to Products List</button></a>
            <a href="/purchase"><button><i class="fas fa-ghost"></i> Pay with GhostPal</button></a>
        </div>
        <button id="testSS">to test session storage</button>

    </div>

</div>
<script src="../js/shoppingCart.js"></script>